<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:META-INF/spring/hibernate.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>


	<servlet>
		<servlet-name>ThreadDumpServlet</servlet-name>
		<servlet-class>com.yammer.metrics.reporting.ThreadDumpServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>PingServlet</servlet-name>
		<servlet-class>com.yammer.metrics.reporting.PingServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>


	<servlet>
		<servlet-name>ExamServlet</servlet-name>
		<servlet-class>com.online.exam.online_exam.Exam1</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>com.online.exam.register.Register</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ScheduleExamServlet</servlet-name>
		<servlet-class>com.online.exam.register.ScheduleExam</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SubmitAnswerServlet</servlet-name>
		<servlet-class>com.online.exam.register.SubmitAnswer</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ExamDetailsServlet</servlet-name>
		<servlet-class>com.online.exam.register.ExamDetails</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	
		<servlet>
		<servlet-name>EligibleExamsServlet</servlet-name>
		<servlet-class>com.online.exam.register.EligibleExams</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>StopExamServlet</servlet-name>
		<servlet-class>com.online.exam.register.StopExam</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>




	<servlet>
		<servlet-name>PromoCodeCronSerlvet</servlet-name>
		<servlet-class>
			com.sun.jersey.spi.spring.container.servlet.SpringServlet
		</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.online.exam.online_exam</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<servlet-mapping>
		<servlet-name>PromoCodeCronSerlvet</servlet-name>
		<url-pattern>/cron/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ThreadDumpServlet</servlet-name>
		<url-pattern>/threads</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>PingServlet</servlet-name>
		<url-pattern>/ping</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ExamServlet</servlet-name>
		<url-pattern>/exam</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ScheduleExamServlet</servlet-name>
		<url-pattern>/startExam</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SubmitAnswerServlet</servlet-name>
		<url-pattern>/submitAnswer</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>ExamDetailsServlet</servlet-name>
		<url-pattern>/examDetails</url-pattern>
	</servlet-mapping>
	
	
		<servlet-mapping>
		<servlet-name>EligibleExamsServlet</servlet-name>
		<url-pattern>/eligibleExams</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
		<servlet-name>StopExamServlet</servlet-name>
		<url-pattern>/stopExam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChartServlet</servlet-name>
		<servlet-class>com.online.exam.dao.PieChart</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChartServlet</servlet-name>
		<url-pattern>/chart</url-pattern>
	</servlet-mapping>
	

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>